/* change logo slide first page*/
.gdbar img {
  width: 200px !important;
  height: 86px !important;
  position: absolute;
  margin: 8px 8px 8px 30px;
}

.gdbar {
  width: 210px !important;
  height: 102px !important;
}

/* change logo slide on the footer */
slides > slide:not(.nobackground):before {
  width: 100px;
  height: 43px;
  background-size: 100px 43px;
/*  height: 100px;
  background-size: 120px 100px; */
}

 
/* to use the mouse wheel to scroll */
/*html {
  height: 100%;
  overflow: auto;
}

slides > slide {
  display: block;
  position: absolute;
  overflow: auto;
} */



/* custom style for example slide */
#example {
  color: green3;
}


/* custom slide type named exclaim that sets it's background to black and foreground text to white. */
.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}